<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://use.fontawesome.com/d1341f9b7a.js"></script>
    <link rel="stylesheet" href="static/style.css">
    <title>Personal WebSite</title>
  </head>
  <body>
    
<div class="box">
  <img src="static/profile.png" alt="" class="box-img"> 
  <h1>Rogério Soares</h1>
<h5>developer</h5>
<p>A web developer is a programmer who specializes in languages programming</p>
<ul>
<li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
<li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
<li><a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
</ul>
</div>
</body>
</html>
